#github{
    width: 30px;
    height: 30px;
    fill: #FFFFFF;
    margin: 0 5px;
    opacity: 0;
    animation: message-frames 1.5s ease 5.5s forwards;
    transition-property: all;
    transition-duration: 200ms;
    &:hover{
        height: 40px;
        padding-bottom: 10px;
    }
}
#google{
    width: 30px;
    height: 30px;
    fill: white;
    margin: 0 5px;
    opacity: 0;
    animation: message-frames 1.5s ease 5.6s forwards;
    transition-property: all;
    transition-duration: 200ms;
    &:hover{
        height: 40px;
        padding-bottom: 10px;
    }
}
#instagram{
    width: 30px;
    height: 30px;
    fill: white;
    margin: 0 5px;
    opacity: 0;
    animation: message-frames 1.5s ease 5.7s forwards;
    transition-property: all;
    transition-duration: 200ms;
    &:hover{
        height: 40px;
        padding-bottom: 10px;
    }
}
#linkedin{
    width: 40px;
    height: 40px;
    transform: translateY(5px);
    fill: white;
    margin: 0 5px;
    opacity: 0;
    animation: message-frames 1.5s ease 5.8s forwards;
    transition-property: all;
    transition-duration: 200ms;
    &:hover{
        height: 50px;
        padding-bottom: 10px;
    }
}
#vk{
    width: 25px;
    height: 25px;
    fill: white;
    transform: translateY(-2.2px);
    margin: 0 5px;
    opacity: 0;
    animation: message-frames 1.5s ease 5.9s forwards;
    transition-property: all;
    transition-duration: 200ms;
    &:hover{
        height: 35px;
        padding-bottom: 10px;
    }
}
#whatsapp{
    width: 37px;
    height: 37px;
    transform: translateY(3.5px);
    fill: white;
    margin: 0 5px;
    opacity: 0;
    animation: message-frames 1.5s ease 6s forwards;
    transition-property: all;
    transition-duration: 200ms;
    &:hover{
        height: 47px;
        padding-bottom: 10px;
    }

}