*{
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
}
.title{
    color: white;
    text-align: center;
    font-size: 40px;
    padding: 20px 0 10px 0;
}
h1{
    text-align: center;
    color: white;
    font-size: 30px;
}
#bg{
    width: 700px;
    display: flex;
    
}
body{
    background: url(../img/bg2.jpg) ;

}
.background_cheese{
    position: relative;
    width: 700px;
    margin: auto;
}
.animals .mouse{
    position: absolute;
}
#m1{
    right: 77%;
    top: 13%;
}
#m2{
    right: 79%;
    top: 50%;
    transform: rotate(70deg);
}
#m3{
    right: 44%;
    top: 7%;
    transform: rotate(180deg);
}
#m4{
    right: 16%;
    top: 12%;
    transform: rotate(90deg);
}
#m5{
    right: 26%;
    top: 26%;
    transform: rotate(-100deg);
}
#m6{
    right: 16%;
    top: 41%;
    transform: rotate(90deg);
}
#m7{
    right: 16%;
    top: 75%;
    transform: rotate(150deg);
}
#m8{
    right: 45%;
    top: 47.5%;
    transform: rotate(0deg);
}
#m9{
    right: 46%;
    top: 81.5%;
    transform: rotate(0deg);
}
#m10{
    right: 80%;
    top: 84%;
    transform: rotate(-90deg);
}
#m11{
    right: 64%;
    top: 71%;
    transform: rotate(-90deg);
}
.button {
    display: flex;
    justify-content: center;
}
button{
    width: 200px;
    height: 100px;
    text-align: center;
    background: url(../img/bg_button.png);
    color: black;
    font-size: 40px;
    border-radius: 20px;
    border: 0;
    margin-top: 20px;
}
button:focus {
    outline: none;
}

.data{
    display: flex;
    font-size: 20px;
}
h2{
    padding: 0 10px 0 10px;
    color: white;
    font-size: 30px;
    text-align: center;
}
.animals img{
    width: 70px;
    height: 70px;
}

@media only screen and (max-width : 1000px) {
    #bg{
        width: 500px;
    }
    .background_cheese{
        width: 500px;
    }
    .title{
        font-size: 37px;
    }
    h2{
        font-size: 25px;
    }
    h1{
        font-size: 35px;
    }
    button{
        margin: 10px;
        width: 150px;
        font-size: 35px;
        height: 100px;
    }
    .animals img{
        width: 50px;
        height: 50px;
    }
}
@media only screen and (max-width : 700px){
    .title{
        font-size: 30px;
    }
    h2{
        font-size: 20px;
    }
    h1{
        font-size: 25px;
    }
    .animals img{
        width: 40px;
        height: 40px;
    }
    button{
        margin: 10px;
        width: 100px;
        font-size: 20px;
        height: 50px;
    }
}
