.icons__item
{
    font-size: 30px;
    margin: 0 5px;
    opacity: 1;
    animation: icons-opacity 1.5s ease 0.5s forwards;
    position: relative;
    bottom: 0;
    transition:bottom 200ms ease;
}

.icons__item:hover{
    text-decoration: none;
    color: transparent;
    bottom: 10px;
    padding-bottom: 10px;
}
@keyframes icons-opacity {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
}